/*---common---*/
header,
main {
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-logo {
    font-family: 'Playfair Display';
    font-size: 86px;
    line-height: 120%;
    font-weight: 600;
}

.biography-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.lead-designer-name {
    font-family: 'Playfair Display';
    font-size: 86px;
    line-height: 115%;
    font-weight: 500;
}

.page-content {
    width: 100%;
    max-width: 1205px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 60px;
}

/*---header---*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 28px;
    align-items: center;
}

a.nav-link {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 110%;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

    display: block;
    padding: 12px 14px;
    border: solid 1px transparent;
    border-radius: 10px;
}

a.form-button {
    padding: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:active {
    color: #E0B59F;
}

.nav-link:focus {
    border-color: #A07C72;
}

.nav-link:hover path {
    fill: #A07C72
}

.nav-link:active path {
    fill: #E0B59F
}

/*---content---*/

/*---biography---*/

.biography {
    display: flex;
    align-items: center;
}

.biography-title {
    writing-mode: sideways-lr;
    align-self: flex-start;
    padding-left: 30px;
}

.biography article {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    gap: 36px;
}

.designer-description * {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.list-skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list-skills li:not(:last-child):after {
    content: '\2005/\2005';
}

.designer-quote {
    font-family: 'Bitter';
    font-size: 26px;
    line-height: 120%;
    max-width: 380px;
}

.designer-quote:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 6px solid #000000;
}

/*---designers---*/

.designers {
    padding-top: 60px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 35px 55px;
}

.designers-title {
    font-family: 'Roboto', sans-serif;
    padding-left: 120px;
    box-sizing: border-box;
    width: 100%;
    grid-column: span 3;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

}

.about-designer * {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.about-designer:nth-of-type(3n+1) {
    grid-column: span 2;
}

.about-designer {
    display: flex;
    flex-direction: column;
}

.about-designer img {
    padding-bottom: 24px;
    width: 100%;
    height: 475px;
    object-fit: cover;
}

.designer-name {
    text-transform: uppercase;
    font-weight: 700;
}

.designer-about-title {
    font-weight: 700;
}

.designer-about-title:after {
    content: '/\2005';
}

.designer-skills {
    display: flex;
    flex-wrap: wrap;
}

/*---footer---*/

footer {
    background: #000000;
    padding: 70px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-link {
    text-decoration: underline;
    color: inherit;
    text-transform: uppercase;
}

.footer-socials-icon {
    text-decoration: none;
}

.footer-socials {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

/*---popup---*/


.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(129, 126, 126, 0.6);
}

.popup form {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    color: #000000;
    padding: 0 6px;
    box-sizing: border-box;
}

.form-info {
    padding: 24px 6px 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #0D0D0D;
}

.popup .popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: left;
    width: 100%;
    max-width: 435px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.form-input {
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-input input,
.form-input textarea {
    box-sizing: border-box;
    border: solid 1px #B3B3B3;
    border-radius: 8px;
    padding: 10px 50px 10px 10px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    width: 100%;
}

.input-icon {
    position: relative;
}

.input-icon:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
}

.icon-name:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 11.25C17.4162 11.25 19.375 9.29125 19.375 6.875C19.375 4.45875 17.4162 2.5 15 2.5C12.5838 2.5 10.625 4.45875 10.625 6.875C10.625 9.29125 12.5838 11.25 15 11.25Z' stroke='%23868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M2.5 25.625C2.5 20.1019 7.53688 15.625 13.75 15.625M19.375 26.25L25.625 20L23.125 17.5L16.875 23.75V26.25H19.375Z' stroke='%23868686' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.icon-email:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 2.8125C11.7677 2.8125 8.66774 4.09654 6.38214 6.38214C4.09654 8.66774 2.8125 11.7677 2.8125 15C2.8125 18.2323 4.09654 21.3323 6.38214 23.6179C8.66774 25.9035 11.7677 27.1875 15 27.1875C17.5207 27.1875 20.168 26.4281 22.0816 25.1566C22.1842 25.0885 22.2723 25.0008 22.341 24.8985C22.4097 24.7963 22.4576 24.6815 22.4819 24.5608C22.5062 24.4401 22.5065 24.3157 22.4828 24.1949C22.459 24.074 22.4117 23.959 22.3436 23.8564C22.2754 23.7539 22.1877 23.6657 22.0854 23.5971C21.9832 23.5284 21.8684 23.4805 21.7477 23.4562C21.627 23.4319 21.5026 23.4316 21.3818 23.4553C21.2609 23.4791 21.1459 23.5264 21.0434 23.5945C19.4531 24.6539 17.134 25.3125 15 25.3125C12.9604 25.3125 10.9666 24.7077 9.27068 23.5745C7.5748 22.4414 6.25302 20.8308 5.47249 18.9464C4.69196 17.0621 4.48774 14.9886 4.88565 12.9881C5.28356 10.9877 6.26573 9.15019 7.70796 7.70796C9.15019 6.26573 10.9877 5.28356 12.9881 4.88565C14.9886 4.48774 17.0621 4.69196 18.9464 5.47249C20.8308 6.25302 22.4414 7.5748 23.5745 9.27068C24.7077 10.9666 25.3125 12.9604 25.3125 15C25.3125 18.0996 24.0375 18.75 22.9688 18.75C21.9 18.75 20.625 18.0996 20.625 15V10.3125C20.625 10.0639 20.5262 9.8254 20.3504 9.64959C20.1746 9.47377 19.9361 9.375 19.6875 9.375C19.4389 9.375 19.2004 9.47377 19.0246 9.64959C18.8488 9.8254 18.75 10.0639 18.75 10.3125V10.8117C17.9087 10.0574 16.8597 9.57398 15.7397 9.42438C14.6197 9.27479 13.4806 9.46597 12.4708 9.97302C11.461 10.4801 10.6274 11.2795 10.0784 12.2671C9.52946 13.2548 9.29069 14.3849 9.39319 15.5101C9.49569 16.6354 9.93473 17.7038 10.6531 18.576C11.3715 19.4482 12.3358 20.0838 13.4206 20.4001C14.5054 20.7163 15.6603 20.6985 16.7348 20.349C17.8094 19.9995 18.7537 19.3345 19.4449 18.4406C20.148 19.8469 21.3609 20.625 22.9688 20.625C25.6102 20.625 27.1875 18.5227 27.1875 15C27.1841 11.7687 25.899 8.67076 23.6141 6.3859C21.3292 4.10104 18.2313 2.81591 15 2.8125ZM15 18.75C14.2583 18.75 13.5333 18.5301 12.9166 18.118C12.2999 17.706 11.8193 17.1203 11.5355 16.4351C11.2516 15.7498 11.1774 14.9958 11.3221 14.2684C11.4667 13.541 11.8239 12.8728 12.3483 12.3483C12.8728 11.8239 13.541 11.4667 14.2684 11.3221C14.9958 11.1774 15.7498 11.2516 16.4351 11.5355C17.1203 11.8193 17.706 12.2999 18.118 12.9166C18.5301 13.5333 18.75 14.2583 18.75 15C18.75 15.9946 18.3549 16.9484 17.6516 17.6516C16.9484 18.3549 15.9946 18.75 15 18.75Z' fill='%23868686'/%3e%3c/svg%3e ");
}

.icon-comment:after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.9973 2.07617C24.4 2.30428 27.8576 6.02467 27.8577 10.6387V14.4492L27.8469 14.8926C27.6337 19.2994 24.2581 22.791 19.9973 23.0117L19.5686 23.0225H15.2395L14.842 23.0273C10.7442 23.1252 6.7568 24.7341 3.63403 27.5947C3.44983 27.69 3.17365 27.7852 2.9895 27.7852C2.89742 27.7852 2.71346 27.7855 2.62134 27.6904C2.29913 27.5238 2.1178 27.284 2.07739 26.9717L2.0686 26.833V10.6387C2.06865 5.87582 5.75264 2.06553 10.3577 2.06543H19.5686L19.9973 2.07617ZM10.3577 4.06543C6.9202 4.06553 4.06865 6.91633 4.0686 10.6387V24.666C7.34151 22.3051 11.247 21.0225 15.2395 21.0225H19.5686C23.0059 21.0222 25.8576 18.1715 25.8577 14.4492V10.6387C25.8576 6.91643 23.0059 4.06569 19.5686 4.06543H10.3577ZM10.5227 11.0166C11.3465 11.0167 12.0138 11.684 12.0139 12.5078C12.0139 13.3317 11.3466 13.9999 10.5227 14C9.6988 14 9.03052 13.3317 9.03052 12.5078C9.03059 11.684 9.69885 11.0166 10.5227 11.0166ZM15.4944 11.0166C16.3182 11.0166 16.9865 11.684 16.9866 12.5078C16.9866 13.3317 16.3183 14 15.4944 14C14.6706 13.9998 14.0032 13.3316 14.0032 12.5078C14.0032 11.6841 14.6707 11.0168 15.4944 11.0166ZM20.468 11.0166C21.2918 11.0167 21.9592 11.684 21.9592 12.5078C21.9592 13.3317 21.2918 13.9999 20.468 14C19.6441 14 18.9758 13.3317 18.9758 12.5078C18.9759 11.684 19.6442 11.0166 20.468 11.0166Z' fill='%23868686'/%3e%3c/svg%3e ");
}

.popup label {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
}

.form-buttons {
    display: flex;
    padding: 6px;
    gap: 12px;
}

.form-buttons button {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 52px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    text-align: center;

    border-radius: 8px;
}

.form-button-cancel {
    border: solid 1px #B3B3B3;
    color: #000000;
    background: #FFFFFF;
}


.form-button-send {
    border-color: transparent;
    color: #FFFFFF;
    background: #000000;
}

.form-button-send::before {
    content: '+';
    font-family: 'Roboto';
    font-weight: 300;
    font-style: Light;
    font-size: 26px;
    margin-right: 4px;
}

.form-button-send:hover {
    background: #A07C72;
    color: #FFFFFF;
}

.form-button-send:active {
    background: #E0B59F;
    color: #FFFFFF;
}

.form-button-send:focus {
    outline: solid #E0B59F 1px;
    outline-offset: 2px;
}

.form-button-send:disabled {
    background: #CCCCCC;
    color: #FFFFFF;
}

.form-button-cancel:hover {
    background: #D7C8C1;
    border: solid 1px #E0B59F;
}

.form-button-cancel:active {
    background: #E0B59F;
    border: solid 1px #E0B59F;
}

.form-button-cancel:focus {
    outline: solid #E0B59F 1px;
    outline-offset: 2px;
}

.form-button-cancel:disabled {
    color: #CCCCCC;
    border: solid 1px #CCCCCC;

}

input:hover,
textarea:hover {
    background: #EDEDED;
}

input:focus,
textarea:focus {
    outline: 1px #E0B59F solid;
    background: #FFFFFF;
}



.icon-name:has(input:focus):after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 11.25C17.4162 11.25 19.375 9.29125 19.375 6.875C19.375 4.45875 17.4162 2.5 15 2.5C12.5838 2.5 10.625 4.45875 10.625 6.875C10.625 9.29125 12.5838 11.25 15 11.25Z' stroke='%23A07C72' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M2.5 25.625C2.5 20.1019 7.53688 15.625 13.75 15.625M19.375 26.25L25.625 20L23.125 17.5L16.875 23.75V26.25H19.375Z' stroke='%23A07C72' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.icon-email:has(input:focus):after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15 2.8125C11.7677 2.8125 8.66774 4.09654 6.38214 6.38214C4.09654 8.66774 2.8125 11.7677 2.8125 15C2.8125 18.2323 4.09654 21.3323 6.38214 23.6179C8.66774 25.9035 11.7677 27.1875 15 27.1875C17.5207 27.1875 20.168 26.4281 22.0816 25.1566C22.1842 25.0885 22.2723 25.0008 22.341 24.8985C22.4097 24.7963 22.4576 24.6815 22.4819 24.5608C22.5062 24.4401 22.5065 24.3157 22.4828 24.1949C22.459 24.074 22.4117 23.959 22.3436 23.8564C22.2754 23.7539 22.1877 23.6657 22.0854 23.5971C21.9832 23.5284 21.8684 23.4805 21.7477 23.4562C21.627 23.4319 21.5026 23.4316 21.3818 23.4553C21.2609 23.4791 21.1459 23.5264 21.0434 23.5945C19.4531 24.6539 17.134 25.3125 15 25.3125C12.9604 25.3125 10.9666 24.7077 9.27068 23.5745C7.5748 22.4414 6.25302 20.8308 5.47249 18.9464C4.69196 17.0621 4.48774 14.9886 4.88565 12.9881C5.28356 10.9877 6.26573 9.15019 7.70796 7.70796C9.15019 6.26573 10.9877 5.28356 12.9881 4.88565C14.9886 4.48774 17.0621 4.69196 18.9464 5.47249C20.8308 6.25302 22.4414 7.5748 23.5745 9.27068C24.7077 10.9666 25.3125 12.9604 25.3125 15C25.3125 18.0996 24.0375 18.75 22.9688 18.75C21.9 18.75 20.625 18.0996 20.625 15V10.3125C20.625 10.0639 20.5262 9.8254 20.3504 9.64959C20.1746 9.47377 19.9361 9.375 19.6875 9.375C19.4389 9.375 19.2004 9.47377 19.0246 9.64959C18.8488 9.8254 18.75 10.0639 18.75 10.3125V10.8117C17.9087 10.0574 16.8597 9.57398 15.7397 9.42438C14.6197 9.27479 13.4806 9.46597 12.4708 9.97302C11.461 10.4801 10.6274 11.2795 10.0784 12.2671C9.52946 13.2548 9.29069 14.3849 9.39319 15.5101C9.49569 16.6354 9.93473 17.7038 10.6531 18.576C11.3715 19.4482 12.3358 20.0838 13.4206 20.4001C14.5054 20.7163 15.6603 20.6985 16.7348 20.349C17.8094 19.9995 18.7537 19.3345 19.4449 18.4406C20.148 19.8469 21.3609 20.625 22.9688 20.625C25.6102 20.625 27.1875 18.5227 27.1875 15C27.1841 11.7687 25.899 8.67076 23.6141 6.3859C21.3292 4.10104 18.2313 2.81591 15 2.8125ZM15 18.75C14.2583 18.75 13.5333 18.5301 12.9166 18.118C12.2999 17.706 11.8193 17.1203 11.5355 16.4351C11.2516 15.7498 11.1774 14.9958 11.3221 14.2684C11.4667 13.541 11.8239 12.8728 12.3483 12.3483C12.8728 11.8239 13.541 11.4667 14.2684 11.3221C14.9958 11.1774 15.7498 11.2516 16.4351 11.5355C17.1203 11.8193 17.706 12.2999 18.118 12.9166C18.5301 13.5333 18.75 14.2583 18.75 15C18.75 15.9946 18.3549 16.9484 17.6516 17.6516C16.9484 18.3549 15.9946 18.75 15 18.75Z' fill='%23A07C72'/%3e%3c/svg%3e ");
}

.icon-comment:has(textarea:focus):after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.9973 2.07617C24.4 2.30428 27.8576 6.02467 27.8577 10.6387V14.4492L27.8469 14.8926C27.6337 19.2994 24.2581 22.791 19.9973 23.0117L19.5686 23.0225H15.2395L14.842 23.0273C10.7442 23.1252 6.7568 24.7341 3.63403 27.5947C3.44983 27.69 3.17365 27.7852 2.9895 27.7852C2.89742 27.7852 2.71346 27.7855 2.62134 27.6904C2.29913 27.5238 2.1178 27.284 2.07739 26.9717L2.0686 26.833V10.6387C2.06865 5.87582 5.75264 2.06553 10.3577 2.06543H19.5686L19.9973 2.07617ZM10.3577 4.06543C6.9202 4.06553 4.06865 6.91633 4.0686 10.6387V24.666C7.34151 22.3051 11.247 21.0225 15.2395 21.0225H19.5686C23.0059 21.0222 25.8576 18.1715 25.8577 14.4492V10.6387C25.8576 6.91643 23.0059 4.06569 19.5686 4.06543H10.3577ZM10.5227 11.0166C11.3465 11.0167 12.0138 11.684 12.0139 12.5078C12.0139 13.3317 11.3466 13.9999 10.5227 14C9.6988 14 9.03052 13.3317 9.03052 12.5078C9.03059 11.684 9.69885 11.0166 10.5227 11.0166ZM15.4944 11.0166C16.3182 11.0166 16.9865 11.684 16.9866 12.5078C16.9866 13.3317 16.3183 14 15.4944 14C14.6706 13.9998 14.0032 13.3316 14.0032 12.5078C14.0032 11.6841 14.6707 11.0168 15.4944 11.0166ZM20.468 11.0166C21.2918 11.0167 21.9592 11.684 21.9592 12.5078C21.9592 13.3317 21.2918 13.9999 20.468 14C19.6441 14 18.9758 13.3317 18.9758 12.5078C18.9759 11.684 19.6442 11.0166 20.468 11.0166Z' fill='%23A07C72'/%3e%3c/svg%3e ");
}

/*---media query---*/

@media(max-width: 767px) {

    .nav-logo,
    a.nav-link span,
    .biography .list-skills li::after,
    .designer-quote::before,
    .lead-designer-name br {
        display: none;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
    }

    a.nav-link {
        font-family: 'Bitter';
        font-size: 40px;
        line-height: 100%;
    }

    main {
        padding: 0;
        overflow: hidden;
    }

    .biography {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .biography-title {
        order: 1;
        align-self: flex-end;

        writing-mode: initial;
        padding-left: 0;
        padding-right: 16px;

        font-family: Roboto;
        font-weight: 700;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;

        margin-bottom: -16px;
    }

    .biography article {
        order: 2;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 56px;

    }

    .biography-photo {
        order: 3;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .designer-description {
        order: 1;
    }

    .biography .list-skills {
        display: flex;
        flex-direction: column;
    }

    .biography .list-skills li {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    .biography .list-skills li::before {
        content: '\2005-\2005';
    }

    .biography .designer-quote {
        order: 2;
        font-family: Bitter;
        font-weight: 300;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;

        max-width: 600px;
    }

    .lead-designer-name::before {
        content: '-';
    }

    .lead-designer-name {
        order: 3;
        padding-top: 56px;
        padding-bottom: 36px;

        font-family: Playfair Display;
        font-weight: 400;
        font-size: 64px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .designers {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .designers-title {
        grid-column: 1;
    }

    .about-designer {
        grid-column: 1;
        display: flex;
        flex-direction: row-reverse;
    }

    .about-designer img {
        width: 100%;
        max-width: 258px;
        height: 313px;
        object-position: center bottom;
    }

    .about-designer:nth-of-type(2n+1) {
        grid-column: 1;
        flex-direction: row;
    }

    .designer-info {
        flex-grow: 1;
        padding: 40px 32px 0 32px;
    }

    footer {
        padding: 50px 20px;
    }
}