/*---common---*/
header,
main {
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-logo {
    font-family: 'Playfair Display';
    font-size: 86px;
    line-height: 120%;
    font-weight: 600;
}

.biography-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.lead-designer-name {
    font-family: 'Playfair Display';
    font-size: 86px;
    line-height: 115%;
    font-weight: 500;
}

.page-content {
    width: 100%;
    max-width: 1205px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 60px;
}

/*---header---*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 28px;
    align-items: center;
}

a.nav-link {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 110%;
    font-weight: 500;
    color: #000000;
    text-decoration: none;

    display: block;
    padding: 12px 14px;
    border: solid 1px transparent;
    border-radius: 10px;
}

a.form-button {
    padding: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:active {
    color: #E0B59F;
}

.nav-link:focus {
    border-color: #A07C72;
}

.nav-link:hover path {
    fill: #A07C72
}

.nav-link:active path {
    fill: #E0B59F
}

/*---content---*/

/*---biography---*/

.biography {
    display: flex;
    align-items: center;
}

.biography-title {
    writing-mode: sideways-lr;
    align-self: flex-start;
    padding-left: 30px;
}

.biography article {
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    gap: 36px;
}

.designer-description * {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.list-skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list-skills li:not(:last-child):after {
    content: '\2005/\2005';
}

.designer-quote {
    font-family: 'Bitter';
    font-size: 26px;
    line-height: 120%;
    max-width: 380px;
}

.designer-quote:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 6px solid #000000;
}

/*---designers---*/

.designers {
    padding-top: 60px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 35px 55px;
}

.designers-title {
    font-family: 'Roboto', sans-serif;
    padding-left: 120px;
    box-sizing: border-box;
    width: 100%;
    grid-column: span 3;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;

}

.about-designer * {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.about-designer:nth-of-type(3n+1) {
    grid-column: span 2;
}

.about-designer {
    display: flex;
    flex-direction: column;
}

.about-designer img {
    padding-bottom: 24px;
    width: 100%;
    height: 475px;
    object-fit: cover;
}

.designer-name {
    text-transform: uppercase;
    font-weight: 700;
}

.designer-about-title {
    font-weight: 700;
}

.designer-about-title:after {
    content: '/\2005';
}

.designer-skills {
    display: flex;
    flex-wrap: wrap;
}

/*---footer---*/

footer {
    background: #000000;
    padding: 70px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer-link {
    text-decoration: underline;
    color: inherit;
    text-transform: uppercase;
}

.footer-socials-icon {
    text-decoration: none;
}

.footer-socials {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

/*---media query---*/

@media(max-width: 767px) {

    .nav-logo,
    a.nav-link span,
    .biography .list-skills li::after,
    .designer-quote::before,
    .lead-designer-name br {
        display: none;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
    }

    a.nav-link {
        font-family: 'Bitter';
        font-size: 40px;
        line-height: 100%;
    }

    main {
        padding: 0;
        overflow: hidden;
    }

    .biography {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .biography-title {
        order: 1;
        align-self: flex-end;

        writing-mode: initial;
        padding-left: 0;
        padding-right: 16px;

        font-family: Roboto;
        font-weight: 700;
        font-size: 18px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;

        margin-bottom: -16px;
    }

    .biography article {
        order: 2;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        gap: 56px;

    }

    .biography-photo {
        order: 3;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .designer-description {
        order: 1;
    }

    .biography .list-skills {
        display: flex;
        flex-direction: column;
    }

    .biography .list-skills li {
        font-family: Roboto;
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;

    }

    .biography .list-skills li::before {
        content: '\2005-\2005';
    }

    .biography .designer-quote {
        order: 2;
        font-family: Bitter;
        font-weight: 300;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;

        max-width: 600px;
    }

    .lead-designer-name::before {
        content: '-';
    }

    .lead-designer-name {
        order: 3;
        padding-top: 56px;
        padding-bottom: 36px;

        font-family: Playfair Display;
        font-weight: 400;
        font-size: 64px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .designers {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 32px;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .designers-title {
        grid-column: 1;
    }

    .about-designer {
        grid-column: 1;
        display: flex;
        flex-direction: row-reverse;
    }

    .about-designer img {
        width: 100%;
        max-width: 258px;
        height: 313px;
        object-position: center bottom;
    }

    .about-designer:nth-of-type(2n+1) {
        grid-column: 1;
        flex-direction: row;
    }

    .designer-info {
        flex-grow: 1;
        padding: 40px 32px 0 32px;
    }

    footer {
        padding: 50px 20px;
    }
}